.no-dis {
	display: none;
}

.modal {
	position: fixed;
	z-index: 3;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.5);
}

.modal-content {
	position: fixed;
	background-color: #141414;
	border-radius: 0.4%;
	height: 37rem;
	width: 42rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 10px 20px 0 rgba(0,0,0, 0.8), 0 15px 20px 0 rgba(0,0,0, 0.2);
}

.signin-container > h1 {
	font-family: Sketch Gothic School;
	color: var(--primary-color);
	font-size: 4.8rem;
	text-align: center;
	margin-left: 3.0rem;
}

.input-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.first-line-container {
	display: flex;
	flex-direction: row;
	width: 75%;
}

.first-name {
	float: left;
	width: 40%;
	
}

.last-name {
	float: right;
	width: 40%;

}

.textbox {
	display: flex;
	border-bottom: var(--primary-color) 4px solid;;
	margin: 1.5rem;
	padding: .6rem;
	color: #999999;
}


.textbox > input {
	border: none;
	outline: none;
	background: none;
	color: white;
	font-size: 1.35rem;
	width: 100%;
	margin-left: .9rem;
	padding-top: .5rem;
}

/* 
/////////////////////////////////
//////   SUCCESS SECTION   //////
/////////////////////////////////
*/

.success-content {
	position: fixed;
	background-color: #141414;
	border-radius: 0.4%;
	height: 38.5rem;
	width: 35rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 10px 20px 0 rgba(0,0,0, 0.8), 0 15px 20px 0 rgba(0,0,0, 0.2);
}

.icon-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	margin-top: 3.3rem;
	color: #999999;
}

.success-message {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 1rem;
	width: 100%;

}

.success-message > p {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 50%;
	font-size: 1.8rem;
	color: #999999;
}

.btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.submit-btn {
	margin-top: 3.5rem;
	padding: 1.4rem 2.7rem;
	font-size: 1.6rem;
	text-transform: uppercase;
	color: white;
}

.close-btn {
	color: #999999;
	font-size: 2.8rem;
	float: right;
	margin-top: 1.4rem;
	margin-right: 2.0rem;
}

.close-btn:hover {
	color: white;
	cursor: pointer;
}